body{
  text-align: center;
  margin:0;

  background-color: #F1F1F1;
}
.top{
  padding-bottom: 50px;
}
img{
  padding-top: 20px;
  width:200px;
}

.two{
  width: 100px;
  padding-bottom: 50px;
}

.middle{
  padding-bottom: 50px;
  width:50%;
  margin:100px auto;
}
.bottom{
  padding-top: 20px;
  margin:100px auto;
}
table{
  font-size: 1.5rem;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 20px;

}

th,td{
border-bottom: 1px solid #293462;
}


p{
  font-size: 2rem;
  margin-top: 1px;
  color:#293462;

}
h1,h2{

  margin-bottom: 20px;
  font-size: 4rem;
  color:#293462;
  font-family: 'Helvetica', serif;
}
tr:hover {
  background-color: #293462;
  color:white;

}
footer{
  padding-bottom: 40px;
  color:#293462;
}
.linkedin,.github,.gmail{
  width:50px;
  padding-right:10px;
}
a{
  text-decoration:none;
  color:inherit;
  background-color: transparent;
}
hr{
  border-top-style: dotted;
  border-bottom: none;
  border-left: none;
  border-right:none;
  border-width: 10px;
  width:50px;
}
